/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
      border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF6700; color:#fff; text-shadow: none; }
::selection { background:#FF6700; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


/**
 * TXJS Styles
 *
 * Author: Alex Sexton
 */

@font-face {
    font-family: 'txjsRegularItalic';
    src: url('fonts/txjs-rgit-webfont.eot');
    src: url('fonts/txjs-rgit-webfont.eot?iefix') format('eot'),
         url('fonts/txjs-rgit-webfont.woff') format('woff'),
         url('fonts/txjs-rgit-webfont.ttf') format('truetype'),
         url('fonts/txjs-rgit-webfont.svg#webfontiAAb6lKV') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'txjsMediumItalic';
    src: url('fonts/txjs-mdit-webfont.eot');
    src: url('fonts/txjs-mdit-webfont.eot?iefix') format('eot'),
         url('fonts/txjs-mdit-webfont.woff') format('woff'),
         url('fonts/txjs-mdit-webfont.ttf') format('truetype'),
         url('fonts/txjs-mdit-webfont.svg#webfont7mWjgxZu') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'txjsSemiBoldItalic';
    src: url('fonts/txjs-sbit-webfont.eot');
    src: url('fonts/txjs-sbit-webfont.eot?iefix') format('eot'),
         url('fonts/txjs-sbit-webfont.woff') format('woff'),
         url('fonts/txjs-sbit-webfont.ttf') format('truetype'),
         url('fonts/txjs-sbit-webfont.svg#webfontgzGFSZUI') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'txjsLight';
    src: url('fonts/txjs-lg-webfont.eot');
    src: url('fonts/txjs-lg-webfont.eot?iefix') format('eot'),
         url('fonts/txjs-lg-webfont.woff') format('woff'),
         url('fonts/txjs-lg-webfont.ttf') format('truetype'),
         url('fonts/txjs-lg-webfont.svg#webfont1amFVLmz') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'txjsMedium';
    src: url('fonts/txjs-md-webfont.eot');
    src: url('fonts/txjs-md-webfont.eot?iefix') format('eot'),
         url('fonts/txjs-md-webfont.woff') format('woff'),
         url('fonts/txjs-md-webfont.ttf') format('truetype'),
         url('fonts/txjs-md-webfont.svg#webfont8lmowCzU') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'txjsRegular';
    src: url('fonts/txjs-rg-webfont.eot');
    src: url('fonts/txjs-rg-webfont.eot?iefix') format('eot'),
         url('fonts/txjs-rg-webfont.woff') format('woff'),
         url('fonts/txjs-rg-webfont.ttf') format('truetype'),
         url('fonts/txjs-rg-webfont.svg#webfontGwN6E7Bx') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  background-image: url(http://wcjroknvsy.cdn.tinycdn.com/txjs/images/bg_body.jpg);
  background-repeat: repeat;
  font-family: 'txjsRegular', Arial;
}

.site-width {
  width: 960px;
  margin: 0 auto;
}

#home {
  display: block;
  width: 213px;
  height: 230px;
  float: left;
}
#home a {
  display: block;
  width: 180px;
  text-indent:-10000px;
  height: 180px;
  margin: 50px 0 0 33px;
  background-repeat: no-repeat;
  background-image: url(http://wcjroknvsy.cdn.tinycdn.com/txjs/images/logo_txjs.png);
}

header.top {
  background-image: url(http://wcjroknvsy.cdn.tinycdn.com/txjs/images/bg_header_tile.jpg);
  background-repeat: repeat;
  height: 270px;
}

header div.top {
  background-image: url(http://wcjroknvsy.cdn.tinycdn.com/txjs/images/bg_header_tile_grad.jpg);
  background-repeat: repeat-x;
  height:230px;
}

header div.sun {
  height: 60px;
  margin-top: -20px;
  min-width: 960px;
  background-image: url(http://wcjroknvsy.cdn.tinycdn.com/txjs/images/bg_header_burst.png);
  background-repeat: no-repeat;
  background-position: top center;
}

#description {
  margin: 50px 0 0;
  padding: 30px 0;
  width: 690px;
  display: block;
  height: 140px;
  float: right;
}

#description h3 {
  font-family: 'txjsLight';
  font-size: 28px;
  color: #333333;
  text-align: right;
  margin: 10px 0;
  text-shadow: 0 1px 0 #E4F4F7;
  font-weight: normal;
  
}

#description h4 {
  font-size: 22px;
  color: #333333;
  text-align: right;
  margin: 10px 2px 0 0;
  text-shadow: 0 1px 0 #E4F4F7;
  font-weight: normal;
  font-family: 'txjsMediumItalic';  
}

#description h4 a {
  text-decoration: none;
  color: #FF6700;
}

#description h4 a:hover {
  color: #FF8533;
}

#banner {
  background-color: #451F1F;
  background-image: url(http://wcjroknvsy.cdn.tinycdn.com/txjs/images/bg_banner.jpg);
  background-repeat: repeat-x;
}

#date {
  padding: 25px 0 2px;
}

h2.code {
  display: block;
  font-family: 'txjsMediumItalic';
  color: #762F2F;
  font-size: 49px;
  text-align: center;
  text-shadow: 1px 1px 0 #F7F4DB, 2px 2px 0 #AD9D55;
  opacity: 0.9;
  letter-spacing: -3px;
  margin-bottom: 25px;
}

#date time {
  display: block;
  font-family: 'txjsMediumItalic';
  color: #F7F4DB;
  font-size: 49px;
  text-align: center;
  text-shadow: 2px 2px 0 #451F1F, 3px 3px 0 #893E3E;
  opacity: 0.9;
  letter-spacing: -2px;
}

#location {
  background-image: url(http://wcjroknvsy.cdn.tinycdn.com/txjs/images/bg_banner_location.png);
  background-repeat: no-repeat;
  width: 306px;
  height: 46px;
  margin: 0 auto;
  padding: 14px 0 25px 0;
}

#location .street-address,
#location .postal-code {
  display:none;
}

#location .country-name {
  text-indent: -10000px;
  width: 28px;
  height: 28px;
  background-image: url(http://wcjroknvsy.cdn.tinycdn.com/txjs/images/icon_star.png);
  background-repeat: no-repeat;
  margin: -2px auto 0;
}

#location .locality,
#location .region {
  color: #F7F4DB;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #431B1B;
  font-size: 18px;
  letter-spacing: 5px;
  margin-top: 2px;
  font-family: 'txjsLight';
  
}
#location .locality {
  float: left;
  display: block;
  margin-left: 50px;
}

.ie6 #location .locality {
  margin-left: 25px;
}

#location .region {
  float: right;
  display: block;
  margin-right: 58px;
}

#info {
	color: #C58383;
	margin-bottom: 40px;
	overflow: hidden;
	zoom: 1;
}

#info p {
	float: left;
    margin: 0 15px;
    width: 210px;
}

.ie6 #location .region {
  margin-right: 30px;
}

.caps {
  font-size: 95%;
}

.banner-divider {
  background-image: url(http://wcjroknvsy.cdn.tinycdn.com/txjs/images/bg_content_border.gif);
  background-repeat: repeat-x;
  height: 20px;
  min-width: 960px;
  margin: 0 auto;
}
.banner-divider .point {
  width: 70px;
  height: 20px;
  background-image: url(http://wcjroknvsy.cdn.tinycdn.com/txjs/images/bg_content_peak.png);
  background-repeat: no-repeat;
  margin: 0 auto;
}

.content {
  border-bottom: 4px solid #4F7A83;
}

#speakers {
  padding: 25px 0;
}

#speakers ul {
  list-style-type: none;
  margin-bottom: 40px;
}

#speakers ul li {
  display: block;
  width: 240px;
  float: left;
}

#speakers ul li img {
  padding: 3px;
  background-color: #FFFFFF;
  border: 1px solid #C6B772;
  -moz-border-radius: 1px; 
  -webkit-border-radius: 1px; 
  border-radius: 2px;
  display: block;
  margin: 0 auto;
}

#speakers ul li .speaker-name {
  display: block;
  text-align: center;
  font-family: 'txjsRegular';
  font-size: 17px;
  color: #FF6700;
  margin-top: 4px;
}

#speakers ul li .speaker-description {
  display: block;
  text-align: center;
  font-family: 'txjsLight';
  font-size: 14px;
  color: #634129;
}

#speakers ul li em {
  font-family: 'txjsRegularItalic';
}

.outer-shout {
  display: none;
}

.content {
  background-image: url(http://wcjroknvsy.cdn.tinycdn.com/txjs/images/bg_content.jpg);
  background-repeat: repeat;
}

#spnsrs {
  background: transparent url(http://wcjroknvsy.cdn.tinycdn.com/txjs/images/bg_sponsor_2.png) no-repeat 0 25px;
  padding-top: 30px;
  height: 300px;
  color: #B8E9F1;
}

#spnsrs h3 {
  font-family: 'txjsRegular';
  text-transform: uppercase;
  font-size: 20px;
  display: block;
  float: left;
  position: relative;
  text-align: center;
  margin: 29px 0 0 70px;
  width: 70px;
  letter-spacing: 1px;
  -moz-transform: skew(0deg, -6deg);
  -webkit-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
  opacity: 0.9;
  text-shadow: 0 0 0.05em #73B9C4;
}

.no-csstransforms #spnsrs {
  background-image: url(http://wcjroknvsy.cdn.tinycdn.com/txjs/images/bg_sponsor_text_2.png);
}

.no-csstransforms #spnsrs h3 {
  display: none;
}

.hide {
  display: none;
}

#spnsr-banner div {
  font-family: 'txjsRegularItalic';
  font-size: 15px;
  opacity: 0.9;
  margin-top: 4px;
}

#spnsrs .spnsr-left {
  float: left;
  width: 360px;
  text-align: right;
}

#spnsrs .spnsr-right {
  float: right;
  width: 360px;
}

#spnsrs .spnsr-left,
#spnsrs .spnsr-right {
  padding-top: 27px;
  padding-bottom: 45px;
}
.ie6 #spnsrs .spnsr-left,
.ie6 #spnsrs .spnsr-right,
.ie7 #spnsrs .spnsr-left, 
.ie7 #spnsrs .spnsr-right,
.ie8 #spnsrs .spnsr-left,
.ie8 #spnsrs .spnsr-right {
  padding-top: 27px;
  padding-bottom: 0;
}

#spnsrs div a {
  color: #FFFFFF;
  text-decoration: none;
}

#spnsr-banner {
  height: 75px;
  clear:both;
  display: block;
}

.ie #spnsr-banner {
  height: 85px;
}

#spnsr-list,
#spnsr-list-2 {
  list-style-type: none;
  margin: 0;
  clear: both;
}

#spnsr-list-2 {
	margin: 0 auto;
	width: 760px;
}

#spnsr-list li,
#spnsr-list-2 li {
  display: block;
  float: left;
  width: 170px;
  margin: 50px 10px 20px;
}

#spnsr-list-2 li {
	margin-top: 0;
}

#spnsr-list li.tall {
  margin: 8px 15px 0;
}

.ie6 #spnsr-list li,
.ie7 #spnsr-list li,
.ie8 #spnsr-list li {
  margin-top: 65px;
}

.ie6 #spnsr-list-2 li,
.ie7 #spnsr-list-2 li,
.ie8 #spnsr-list-2 li {
  margin-top: 15px;
}

.ie6 #spnsr-list li.tall,
.ie7 #spnsr-list li.tall,
.ie8 #spnsr-list li.tall {
  margin-top: 25px;
}

.ie6 #spnsr-list li,
.ie6 #spnsr-list-2 li {
  margin-left: 9px;
  margin-right: 9px;
}

#presby {
  width: 170px;
  height: 20px;
  background-image: url(http://wcjroknvsy.cdn.tinycdn.com/txjs/images/logo_presby_bazaarvoice.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 237px;
  margin-left: 43px;
}

.ie6 #presby,
.ie7 #presby {
  margin-left: -170px;
}

#presby a {
  text-indent: -10000px;
  display: block;
}





/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


/*
* jQuery UI CSS Framework
* Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/*
* jQuery UI CSS Framework
* Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
* To view and modify this theme, visit http://jqueryui.com/themeroller/
*/


/* Component containers
----------------------------------*/
.ui-widget {font-size: .8em/*{fsDefault}*/; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {  font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa/*{borderColorContent}*/; background: #ffffff/*{bgColorContent}*/ url(images/ui-bg_flat_75_ffffff_40x100.png)/*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/; color: #222222/*{fcContent}*/; }
.ui-widget-content a { color: #222222/*{fcContent}*/; }
.ui-widget-header { border: 1px solid #aaaaaa/*{borderColorHeader}*/; background: #cccccc/*{bgColorHeader}*/ url(images/ui-bg_highlight-soft_75_cccccc_1x100.png)/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/; color: #222222/*{fcHeader}*/; font-weight: bold; }
.ui-widget-header a { color: #222222/*{fcHeader}*/; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3/*{borderColorDefault}*/; background: #e6e6e6/*{bgColorDefault}*/ url(images/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #555555/*{fcDefault}*/; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555/*{fcDefault}*/; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #999999/*{borderColorHover}*/; background: #dadada/*{bgColorHover}*/ url(images/ui-bg_glass_75_dadada_1x400.png)/*{bgImgUrlHover}*/ 50%/*{bgHoverXPos}*/ 50%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcHover}*/; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121/*{fcHover}*/; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa/*{borderColorActive}*/; background: #ffffff/*{bgColorActive}*/ url(images/ui-bg_glass_65_ffffff_1x400.png)/*{bgImgUrlActive}*/ 50%/*{bgActiveXPos}*/ 50%/*{bgActiveYPos}*/ repeat-x/*{bgActiveRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcActive}*/; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121/*{fcActive}*/; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fcefa1/*{borderColorHighlight}*/; background: #fbf9ee/*{bgColorHighlight}*/ url(images/ui-bg_glass_55_fbf9ee_1x400.png)/*{bgImgUrlHighlight}*/ 50%/*{bgHighlightXPos}*/ 50%/*{bgHighlightYPos}*/ repeat-x/*{bgHighlightRepeat}*/; color: #363636/*{fcHighlight}*/; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636/*{fcHighlight}*/; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a/*{borderColorError}*/; background: #fef1ec/*{bgColorError}*/ url(images/ui-bg_glass_95_fef1ec_1x400.png)/*{bgImgUrlError}*/ 50%/*{bgErrorXPos}*/ 50%/*{bgErrorYPos}*/ repeat-x/*{bgErrorRepeat}*/; color: #cd0a0a/*{fcError}*/; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a/*{fcError}*/; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a/*{fcError}*/; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_222222_256x240.png)/*{iconsContent}*/; }
.ui-widget-content .ui-icon {background-image: url(images/ui-icons_222222_256x240.png)/*{iconsContent}*/; }
.ui-widget-header .ui-icon {background-image: url(images/ui-icons_222222_256x240.png)/*{iconsHeader}*/; }
.ui-state-default .ui-icon { background-image: url(images/ui-icons_888888_256x240.png)/*{iconsDefault}*/; }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_454545_256x240.png)/*{iconsHover}*/; }
.ui-state-active .ui-icon {background-image: url(images/ui-icons_454545_256x240.png)/*{iconsActive}*/; }
.ui-state-highlight .ui-icon {background-image: url(images/ui-icons_2e83ff_256x240.png)/*{iconsHighlight}*/; }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_cd0a0a_256x240.png)/*{iconsError}*/; }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; border-top-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-tr { -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; border-top-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-bl { -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; border-bottom-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-br { -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; border-bottom-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-top { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; border-top-left-radius: 4px/*{cornerRadius}*/; -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; border-top-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; border-bottom-left-radius: 4px/*{cornerRadius}*/; -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; border-bottom-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-right {  -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; border-top-right-radius: 4px/*{cornerRadius}*/; -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; border-bottom-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-left { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; border-top-left-radius: 4px/*{cornerRadius}*/; -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; border-bottom-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all { -moz-border-radius: 4px/*{cornerRadius}*/; -webkit-border-radius: 4px/*{cornerRadius}*/; border-radius: 4px/*{cornerRadius}*/; }

/* Overlays */
.ui-widget-overlay { background: #aaaaaa/*{bgColorOverlay}*/ url(images/ui-bg_flat_0_aaaaaa_40x100.png)/*{bgImgUrlOverlay}*/ 50%/*{bgOverlayXPos}*/ 50%/*{bgOverlayYPos}*/ repeat-x/*{bgOverlayRepeat}*/; opacity: .3;filter:Alpha(Opacity=30)/*{opacityOverlay}*/; }
.ui-widget-shadow { margin: -8px/*{offsetTopShadow}*/ 0 0 -8px/*{offsetLeftShadow}*/; padding: 8px/*{thicknessShadow}*/; background: #aaaaaa/*{bgColorShadow}*/ url(images/ui-bg_flat_0_aaaaaa_40x100.png)/*{bgImgUrlShadow}*/ 50%/*{bgShadowXPos}*/ 50%/*{bgShadowYPos}*/ repeat-x/*{bgShadowRepeat}*/; opacity: .3;filter:Alpha(Opacity=30)/*{opacityShadow}*/; -moz-border-radius: 8px/*{cornerRadiusShadow}*/; -webkit-border-radius: 8px/*{cornerRadiusShadow}*/; border-radius: 8px/*{cornerRadiusShadow}*/; }


/* Tooltip
----------------------------------*/
.ui-tooltip {
/*	padding:8px;*/
	position:absolute;
	z-index:9999;
}

/* Fades and background-images don't work well together in IE6, drop the image */
* html .ui-tooltip {
	background-image: none;
}

body .ui-tooltip { border:0; }

.ui-tooltip-content {
	padding: 10px;
}

#schedule {
margin:10px auto;
width: 960px;
}

#schedule table {
	font-size:90%;
	color:#000;
	width: 100%;
	height: 100%;
	margin-bottom: 25px;
}

#schedule th,
#schedule td {
	padding: 10px;
	border: 1px solid #D0C8BD;
}

#schedule td table td {
	padding: 0;
	border: none;
}

#schedule td table td.row-stack-top {
	border-bottom: 1px solid #D0C8BD;
	padding-bottom: 10px;
}

#schedule td table td.row-stack-bot {
	padding-top: 10px;
}

#schedule th {
	vertical-align:middle;
	font-family: 'txjsMediumItalic';
	font-size: 12px;
	background: transparent url(../images/bg_col_time.gif);
}

#schedule .col-time {
	width: 10%;
}

#schedule .col-track {
	width: 45%;
}

#schedule thead th {
    background: #451F1F url(http://wcjroknvsy.cdn.tinycdn.com/txjs/images/bg_banner.jpg) repeat-x;
	color: #F7F4DB;
	text-transform: uppercase;
}
	
#schedule tbody td:hover:not(.two-col),
#schedule tbody td.hover {
	background-color: #FFF;
	 }

#schedule tbody tr:nth-child(even){
	background: transparent url(../images/bg_table_row_alt.png);
}

#schedule tbody tr td table tbody tr {
	background-image: none !important;
}

#schedule th, #schedule td {
	
	     -moz-transition: all 0.15s ease-out;  /* FF3.7+ */
	       -o-transition: all 0.15s ease-out;  /* Opera 10.5 */
	  -webkit-transition: all 0.15s ease-out;  /* Saf3.2+, Chrome */

}

#schedule .inactive {
background-color:#ccc;
}

#schedule h4 {
	font-weight: normal;
	font-family: 'txjsRegular';
	font-size: 16px;
}

#schedule h5 {
	font-weight: normal;
	font-family: 'txjsLight';
	font-size: 14px;
	color: #634129;
}	

#schedule .two-col {
	text-align:center;
}

#schedule .two-col-row {
	background: transparent url(../images/bg_table_cell_hover.png);
	cursor: default !important;
}

#schedule p {
margin:0 0 5px 0;
}

#schedule img {
margin:0 0 -10px 0;
}

#schedule tbody tr td {
	cursor:pointer;
}

#schedule td aside {
	display:none;
}

#txtip {
	position:absolute;
	display:none;
	background:#FFF;
	border: 1px solid #D0C8BD;
	border-top: none;
	font-size: 12px;	
}

#txtip p,
#txtip ul {
	margin-bottom: 10px;
}

#follow-nav {
  width: 960px;
  margin: 0 auto;
}
#follow-nav ul {
  list-style-type: none;
  width: 450px;
  position: fixed;
  top: 20px;
  margin-left: 510px;
  background-color: #EEEEEE;
  z-index: 9999;
}
#follow-nav ul li {
  display: block;
  float: left;
  border: 1px solid red;
  text-align: center;
  width: 128px;
  padding: 10px;
}
#follow-nav ul li a {
  display: block;
  font-size: 16px;
  height: 20px;
  line-height: 20px;
}
.navSlider {
  border: 1px solid black;
  padding: 2px 0;
  width: 448px;
  position: fixed;
  margin-left: 510px;
  top: 62px;
  background-color: #EEEEEE;
  z-index: 10000;
}
.navMark {
  width: 10px;
  height: 10px;
  float: left;
  border: 1px solid green;
  position: relative;
  z-index: 10001;
}

.hover .twttr {
  width: 16px;
  height: 16px;
  color: transparent;
  display: inline-block;
  overflow: hidden;
  background-image: url(../images/twttricon.gif);
  font-size:12px;
  text-indent:-12px;
}
.twttr {
  display: none;
}

.twttr a {
  display: inline-block;
  height:16px;
  width: 16px;
  color: transparent;
}
.twttr a:hover {
  color: transparent;
}
